
.background {
  background-image: url("oranges\ n\ stuff.webp");
}

.blur {
  background: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(8px);
  color: darkred;
}

.title {
  font-size: 26px;
  font-weight: bold;
  text-decoration: underline;
}

.calendar {
  color: #520707;
}